*, *::before, *::after {
  box-sizing: border-box;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
::-moz-selection {
  background: rgba(143, 72, 255, 0.6);
}

::selection {
  background: rgba(143, 72, 255, 0.6);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.25s ease-out;
}

body {
  min-height: 100vh;
  background: #181B23;
  background: radial-gradient(circle farthest-corner at top left, #2B2B2B 0%, #181B23 60%);
  margin: 0 auto;
  border-top: 4px solid #8F48FF;
  font-size: 1.8rem;
  line-height: 1.7;
  font-weight: 500;
  color: #fff;
  text-rendering: optimizeSpeed;
}

header, main, footer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 5rem;
}
@media only screen and (max-width: 500px) {
  header, main, footer {
    padding: 0 2.5rem;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.underline {
  position: relative;
  color: #fff;
  text-decoration: none;
}
.underline:after {
  width: 100%;
  border-width: 2px 0 0 0;
  top: 2rem;
  border-color: #fff;
  height: 7px;
  border-style: solid;
  position: absolute;
  content: "";
  border-radius: 40% 60% 0% 0%;
  left: 0px;
  transition: all 0.25s linear;
}
.underline:hover {
  color: #8F48FF;
}
.underline:hover:after {
  border-color: #8F48FF;
}

.arrow-link {
  position: relative;
  color: #fff;
  text-decoration: none;
}
.arrow-link i {
  position: relative;
  top: 1px;
  left: 5px;
}
.arrow-link:hover {
  color: #8F48FF;
}
.arrow-link:hover i {
  left: 10px;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

input:focus {
  outline: 2px dashed #fff !important;
}

.alert {
  text-align: center;
  color: #fff;
  background: #8F48FF;
  padding: 10px;
  margin-bottom: 2rem;
}
.alert i {
  font-weight: 600;
  font-size: 1.5rem;
  font-style: normal;
  color: #fff;
  background: #fff;
  width: 23px;
  padding-left: 1px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 5px;
}

.no-wrap {
  white-space: nowrap;
}

.waving {
  animation: waving 0.5s;
  animation-iteration-count: 3;
  transform-origin: 90% 80%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
}
header .logo a {
  display: block;
}
header .logo a:after {
  display: none;
}
header .logo a img {
  width: 168px;
  height: 60px;
}
header .logo a img:hover {
  animation: hover 1s infinite ease-in-out;
}
header .nav {
  z-index: 999;
}
header .nav .main-navigation li {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  padding: 0 2rem;
  display: inline-block;
  position: relative;
}
header .nav .main-navigation li a {
  position: relative;
  display: block;
  text-decoration: none;
  background: linear-gradient(#8F48FF, #8F48FF) left/0 no-repeat;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.25s linear;
  font-size: 1.6rem;
  font-weight: 800;
}
header .nav .main-navigation li a span {
  display: inline-block;
  margin-left: 30px;
}
@media only screen and (max-width: 850px) {
  header .nav .main-navigation li a {
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
  }
  header .nav .main-navigation li a i {
    top: 7px !important;
  }
}
header .nav .main-navigation li a:hover {
  background-size: 100%;
}
header .nav .main-navigation li a:hover:before {
  color: #181B23;
}
header .nav .main-navigation li a:hover i {
  transform: rotate(-10deg);
  color: #8F48FF;
  font-size: 2.5rem;
  top: -3px;
}
@media only screen and (max-width: 850px) {
  header .nav .main-navigation li a:hover {
    color: #fff;
  }
  header .nav .main-navigation li a:hover i {
    transform: none;
    color: #fff;
    font-size: 1.6rem;
    top: 7px !important;
    left: 0 !important;
  }
}
header .nav .main-navigation li a:before {
  content: attr(data-display);
  position: absolute;
  top: 0;
  left: 30px;
  color: #fff;
  z-index: -1;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  transition: 0.25s linear;
}
@media only screen and (max-width: 850px) {
  header .nav .main-navigation li a:before {
    display: none;
  }
}
header .nav .main-navigation li a:after {
  width: 0;
  border-width: 2px;
  top: 2.5rem;
  border-color: transparent;
  height: 7px;
  border-style: solid;
  position: absolute;
  content: "";
  border-radius: 40% 60% 0% 0%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s;
  z-index: -1;
}
@media only screen and (max-width: 850px) {
  header .nav .main-navigation li a:after {
    top: 3rem;
  }
}
header .nav .main-navigation li a:hover:after {
  width: 100%;
  border-color: #8F48FF transparent transparent transparent;
}
@media only screen and (max-width: 850px) {
  header .nav .main-navigation li a:hover:after {
    border-color: #fff transparent transparent transparent;
  }
}
header .nav .main-navigation li a i {
  font-size: 1.6rem;
  display: block;
  color: #fff;
  position: absolute;
  top: 3px;
  transition: transform 0.5s;
  will-change: transform;
}
@media only screen and (max-width: 850px) {
  header .nav .main-navigation li {
    font-size: 2rem;
    padding: 2rem 0;
  }
}
header .nav .main-navigation li:nth-child(3n) a:before {
  left: 30px;
}
header .nav .main-navigation li:nth-child(3n) a:hover i {
  top: -5px;
  left: -10px;
}
header .nav .main-navigation li:nth-child(3n) a span {
  margin-left: 30px;
}
header .nav .main-navigation li:last-child a:hover i {
  left: -4px;
}
@media only screen and (max-width: 850px) {
  header .nav .main-navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    width: 300px;
    background: rgba(143, 72, 255, 0.6);
    padding: 10rem 5rem 5rem;
    height: 100vh;
    clip-path: circle(100px at 100% -100%);
    transition: all 0.5s ease-in;
  }
  @supports (backdrop-filter: blur(1rem)) {
    header .nav .main-navigation {
      backdrop-filter: blur(1rem);
    }
  }
  header .nav .main-navigation[data-visible=true] {
    clip-path: circle(1000px at 100% -5%);
  }
}
header .mobile-nav-toggle {
  display: none;
}
header .mobile-nav-toggle .hamburger {
  cursor: pointer;
}
header .mobile-nav-toggle .hamburger .line {
  background: #fff;
  width: 30px;
  height: 4px;
  margin: 6px 5px;
  position: relative;
  top: 0;
}
@media only screen and (max-width: 850px) {
  header .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 4rem;
    aspect-ratio: 1;
    top: 6rem;
    right: 2.5rem;
    border: none;
    background: none;
  }
  header .mobile-nav-toggle[aria-expanded=true] {
    position: fixed;
  }
  header .mobile-nav-toggle[aria-expanded=true] .line {
    margin: 4px 5px;
  }
  header .mobile-nav-toggle[aria-expanded=true] .line:before, header .mobile-nav-toggle[aria-expanded=true] .line:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: -4px;
    width: 6px;
    height: 6px;
    background: #fff;
    box-shadow: 0 5px 0 #fff;
  }
  header .mobile-nav-toggle[aria-expanded=true] .line:before {
    left: -4px;
  }
  header .mobile-nav-toggle[aria-expanded=true] .line:after {
    right: -4px;
  }
  header .mobile-nav-toggle[aria-expanded=true] .line:nth-child(2):before, header .mobile-nav-toggle[aria-expanded=true] .line:nth-child(2):after {
    display: none;
  }
  header .mobile-nav-toggle[aria-expanded=true] .line:first-child {
    transform: rotate(45deg);
    top: 4px;
    transition: all 0.25s linear;
  }
  header .mobile-nav-toggle[aria-expanded=true] .line:nth-child(2) {
    width: 0;
    height: 0;
    left: -10px;
  }
  header .mobile-nav-toggle[aria-expanded=true] .line:last-child {
    transform: rotate(-45deg);
    top: -4px;
    transition: all 0.25s linear;
  }
}

.highlight {
  position: relative;
}
.highlight:after {
  content: "";
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 25%;
  z-index: -1;
  background-color: #8F48FF;
}
h1 {
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2.8rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

main .intro {
  padding: 10rem 0 15rem;
  color: #fff;
}
main .intro .icons {
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-start;
  gap: 2rem 4rem;
  flex-wrap: wrap;
}
main .intro .icons a {
  color: #fff;
}
main .intro .icons a i {
  font-size: 3.5rem;
}
main .intro .icons a:hover i {
  color: #8F48FF;
}
main .intro .revue-embed {
  padding: 1.5rem 0 1.5rem;
}
main .intro .revue-embed .row {
  gap: 2rem 2.5rem;
}
main .intro .revue-embed .row .revue-form-group {
  width: 100%;
  max-width: 450px;
}
main .intro .revue-embed .row .revue-form-group .revue-form-field {
  width: 100%;
  max-width: 450px;
  border: 4px solid #8F48FF;
  background: #181B23;
  background: radial-gradient(circle farthest-corner at top left, #2B2B2B 0%, #181B23 80%);
  border-radius: 10px;
  padding: 1rem 1.8rem;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  appearance: none;
  position: relative;
  top: 4px;
  left: 0;
  box-shadow: 4px -4px #8F48FF;
  text-decoration: none;
  background: #2B2B2B;
}
main .intro .revue-embed .row .revue-form-group .revue-form-field:hover {
  cursor: pointer;
  top: 0;
  left: 4px;
  color: #b688ff;
  box-shadow: 0 0 #8F48FF;
}
main .intro .revue-embed .row .revue-form-group .revue-form-field:hover {
  top: 4px;
  left: 0;
  box-shadow: 4px -4px #8F48FF;
  color: #b688ff;
}
main .intro .revue-embed .revue-form-actions {
  position: relative;
  top: 0;
}
main .intro .revue-embed .revue-form-actions input {
  border: 4px solid #8F48FF;
  background: #181B23;
  background: radial-gradient(circle farthest-corner at top left, #2B2B2B 0%, #181B23 80%);
  border-radius: 10px;
  padding: 1rem 1.8rem;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  appearance: none;
  position: relative;
  top: 4px;
  left: 0;
  box-shadow: 4px -4px #8F48FF;
  text-decoration: none;
  background: #2B2B2B;
}
main .intro .revue-embed .revue-form-actions input:hover {
  cursor: pointer;
  top: 0;
  left: 4px;
  color: #b688ff;
  box-shadow: 0 0 #8F48FF;
}
@media only screen and (max-width: 550px) {
  main .intro .revue-embed .revue-form-actions {
    width: 100%;
  }
}
main .intro .revue-embed .revue-form-footer {
  font-size: 1.4rem;
  line-height: 1.7;
  margin-top: 2rem;
  color: #bbbbbb;
}
main .intro .revue-embed .revue-form-footer .underline {
  color: #bbbbbb;
}
main .intro .revue-embed .revue-form-footer .underline:after {
  border-color: #bbbbbb;
}
main .intro .revue-embed .revue-form-footer .underline:hover {
  color: #8F48FF;
}
main .intro .revue-embed .revue-form-footer .underline:hover:after {
  border-color: #8F48FF;
}
main .intro .arrow-link {
  font-size: 1.6rem;
}
main .written, main .coded, main .about {
  margin-bottom: 15rem;
}
main .written h2, main .coded h2, main .about h2 {
  font-weight: 800;
  font-size: 3rem;
  color: #fff;
}
@media only screen and (max-width: 900px) {
  main .written h2, main .coded h2, main .about h2 {
    font-size: 2.8rem;
  }
}
main .written h2 .highlight, main .coded h2 .highlight, main .about h2 .highlight {
  position: relative;
}
main .written h2 .highlight:after, main .coded h2 .highlight:after, main .about h2 .highlight:after {
  content: "";
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 25%;
  z-index: -1;
  background-color: #8F48FF;
}
main .written .row, main .coded .row, main .about .row {
  justify-content: space-between;
}
main .written .row p, main .coded .row p, main .about .row p {
  margin: 0 4rem 1rem 0;
}
@media only screen and (max-width: 600px) {
  main .written .row p, main .coded .row p, main .about .row p {
    margin-right: 0;
  }
}
main .written .row a, main .coded .row a, main .about .row a {
  margin-bottom: 1rem;
}
main .written .cards, main .coded .cards, main .about .cards {
  margin-top: 2.5rem;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  position: relative;
  font-size: 1.7rem;
  line-height: 1.5;
}
main .written .cards article, main .coded .cards article, main .about .cards article {
  max-width: 260px;
  border-radius: 10px;
  outline: 4px solid #8F48FF;
  position: relative;
  background: #181B23;
  background: radial-gradient(circle farthest-corner at top left, #2B2B2B 0%, #181B23 80%);
  box-shadow: 15px -15px #8F48FF;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 400px) {
  main .written .cards article, main .coded .cards article, main .about .cards article {
    width: 100%;
    box-shadow: 5px -5px #8F48FF;
  }
}
main .written .cards article > a, main .coded .cards article > a, main .about .cards article > a {
  padding: 2rem;
  display: block;
}
@media only screen and (max-width: 340px) {
  main .written .cards article, main .coded .cards article, main .about .cards article {
    width: 95%;
  }
}
main .written .cards article:hover, main .coded .cards article:hover, main .about .cards article:hover {
  top: -4px;
  left: 4px;
  box-shadow: 0 0 #8F48FF;
  background: #8F48FF;
}
main .written .cards article:hover .arrow-link i, main .coded .cards article:hover .arrow-link i, main .about .cards article:hover .arrow-link i {
  left: 15px;
}
main .written .cards article a, main .coded .cards article a, main .about .cards article a {
  text-decoration: none;
  color: #fff;
}
main .written .cards article a .row, main .coded .cards article a .row, main .about .cards article a .row {
  margin-bottom: 2.5rem;
}
main .written .cards article a .row i, main .coded .cards article a .row i, main .about .cards article a .row i {
  font-size: 2.7rem;
}
main .written .cards article a .row img, main .coded .cards article a .row img, main .about .cards article a .row img {
  width: 30px;
}
main .written .cards article a .row time, main .coded .cards article a .row time, main .about .cards article a .row time {
  font-size: 1.4rem;
}
main .written .cards article a .title-container, main .coded .cards article a .title-container, main .about .cards article a .title-container {
  height: 7.5rem;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  margin-bottom: 1.5rem;
}
main .written .cards article a .title-container h3, main .coded .cards article a .title-container h3, main .about .cards article a .title-container h3 {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 700;
}
main .written .cards article a .excerpt-container, main .coded .cards article a .excerpt-container, main .about .cards article a .excerpt-container {
  height: 13rem;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  margin-bottom: 2rem;
}
main .written .cards article a .excerpt-container p, main .coded .cards article a .excerpt-container p, main .about .cards article a .excerpt-container p {
  font-size: 1.5rem;
  line-height: 1.7;
  margin: 1.5rem 0;
  font-weight: 500;
}
main .written .cards article a .arrow-link, main .coded .cards article a .arrow-link, main .about .cards article a .arrow-link {
  font-size: 1.5rem;
}
main .written .cards article a .arrow-link i, main .coded .cards article a .arrow-link i, main .about .cards article a .arrow-link i {
  font-size: 1.5rem;
}
main .written .cards article a .arrow-link:hover, main .coded .cards article a .arrow-link:hover, main .about .cards article a .arrow-link:hover {
  color: #fff;
}
main .about h2 {
  line-height: 1;
}
main .about .about-title-2 {
  margin-left: 10rem;
}
@media only screen and (max-width: 500px) {
  main .about .about-title-2 {
    margin-left: 8rem;
  }
}
@media only screen and (max-width: 380px) {
  main .about .about-title-2 {
    margin-left: 5.4rem;
  }
}
main .about .intro-icon {
  width: 55px;
  height: 55px;
  display: inline-block;
  position: relative;
  top: 14px;
}
@media only screen and (max-width: 380px) {
  main .about .intro-icon {
    width: 45px;
    height: 45px;
  }
}
main .about p {
  margin-bottom: 3rem;
}
main .about p .wave {
  width: 35px;
  height: 35px;
  position: relative;
  top: 8px;
  display: inline-block;
}
main .about .face {
  width: 50px;
  height: 58px;
  background-image: url("../images/face.webp");
  background-size: contain;
  background-repeat: no-repeat;
}
main .about .face:hover {
  background-image: url("../images/face-hover.webp");
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
main .about .icons {
  margin: 2rem 0;
  display: flex;
  gap: 2rem 4rem;
  flex-wrap: wrap;
}
main .about .icons a {
  color: #fff;
}
main .about .icons a i {
  font-size: 3rem;
}
main .about .icons a:hover i {
  color: #8F48FF;
}
main .contribute {
  max-width: 750px;
  margin: 0 auto 15rem;
}
main .contribute h3 {
  font-weight: 700;
  font-size: 2.8rem;
  color: #fff;
}
@media only screen and (max-width: 900px) {
  main .contribute h3 {
    font-size: 2.5rem;
  }
}
main .contribute h3 .highlight {
  position: relative;
}
main .contribute h3 .highlight:after {
  content: "";
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 25%;
  z-index: -1;
  background-color: #8F48FF;
}
main .contribute .list-heading {
  margin-top: 15px;
  font-weight: 700;
}
main .contribute .list {
  margin: 0 0 2.5rem 7rem;
  list-style: none;
  list-style-position: outside;
}
@media only screen and (max-width: 500px) {
  main .contribute .list {
    margin-left: 4rem;
  }
}
main .contribute .list li {
  margin: 1.5rem 0;
  position: relative;
}
main .contribute .list li i {
  color: #21AD64;
  font-size: 2.8rem;
  position: absolute;
  top: -1px;
  left: -40px;
}
main .contribute .list li i:before {
  position: relative;
  top: 2px;
}
main .contribute .list li i:after {
  content: "";
  background: #fff;
  width: 23px;
  display: block;
  height: 23px;
  border-radius: 50px;
  position: relative;
  top: -24px;
  left: 2px;
  z-index: -1;
}
main .contribute .list.red {
  color: #FF7676;
}
main .contribute .list.red i {
  color: #F44F5A;
}
main .contribute .contact {
  display: flex;
  justify-content: center;
}
main .contribute .contact .button {
  border: 4px solid #8F48FF;
  background: #181B23;
  background: radial-gradient(circle farthest-corner at top left, #2B2B2B 0%, #181B23 80%);
  border-radius: 10px;
  padding: 1rem 1.8rem;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  appearance: none;
  position: relative;
  top: 4px;
  left: 0;
  box-shadow: 4px -4px #8F48FF;
  text-decoration: none;
}
main .contribute .contact .button:hover {
  cursor: pointer;
  top: 0;
  left: 4px;
  color: #b688ff;
  box-shadow: 0 0 #8F48FF;
}
main .contribute .icons {
  margin: 2.5rem 0 2rem 0;
  display: flex;
  gap: 4rem;
  justify-content: center;
}
main .contribute .icons a {
  color: #fff;
}
main .contribute .icons a i {
  font-size: 2rem;
}
main .contribute .icons a:hover i {
  color: #8F48FF;
}
main .blog {
  max-width: 900px;
  margin: 0 auto;
}
main .blog .intro {
  padding: 10rem 0 3rem;
}
main .blog .intro h1 {
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 500px) {
  main .blog .intro h1 {
    font-size: 2.8rem;
  }
}
main .blog .intro p {
  font-size: 2rem;
}
@media only screen and (max-width: 500px) {
  main .blog .intro p {
    font-size: 1.8rem;
  }
}
main .blog .intro .icons {
  margin-top: 1rem;
  justify-content: flex-start;
  gap: 0 4rem;
}
main .blog .intro .icons i {
  font-size: 3rem;
}
main .blog .blog-list {
  list-style-type: none;
}
main .blog .blog-list li {
  margin: 10rem 0;
}
main .blog .blog-list li article {
  display: flex;
  justify-content: space-between;
}
main .blog .blog-list li article .post-title {
  font-size: 2.3rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  font-weight: 900;
}
main .blog .blog-list li article .post-title a {
  color: #fff;
  text-decoration: none;
}
main .blog .blog-list li article .post-title a:hover {
  color: #b688ff;
}
@media only screen and (max-width: 500px) {
  main .blog .blog-list li article .post-title {
    font-size: 2rem;
  }
}
main .blog .blog-list li article .date {
  color: #b688ff;
  font-weight: 900;
  font-size: 1.8rem;
  padding-top: 0.15rem;
}
@media only screen and (max-width: 500px) {
  main .blog .blog-list li article .date {
    font-weight: 700;
    font-size: 1.6rem;
  }
}
main .blog .blog-list li article .details {
  width: 80%;
  font-size: 1.6rem;
}
main .blog .blog-list li article .details .title-container, main .blog .blog-list li article .details a {
  display: block;
}
main .blog .blog-list li article .details .title-container:hover ~ .arrow-link, main .blog .blog-list li article .details a:hover ~ .arrow-link {
  color: #b688ff;
  cursor: pointer;
}
main .blog .blog-list li article .details .title-container:hover ~ .arrow-link i, main .blog .blog-list li article .details a:hover ~ .arrow-link i {
  left: 10px;
}
main .blog .blog-list li article .details .arrow-link:hover {
  color: #b688ff;
  cursor: pointer;
}
main .blog .blog-list li article .details .arrow-link:hover i {
  left: 10px;
}
main .blog .blog-list li article .details .excerpt-container {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 750px) {
  main .blog .blog-list li article .details {
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  main .blog .blog-list li article {
    flex-wrap: wrap;
  }
}
main .newsletter {
  max-width: 700px;
  margin: 0 auto 15rem;
}
main .newsletter .card {
  border-radius: 10px;
  outline: 4px solid #8F48FF;
  position: relative;
  background: #181B23;
  background: radial-gradient(circle farthest-corner at top left, #2B2B2B 0%, #181B23 80%);
  box-shadow: 15px -15px #8F48FF;
  top: 0;
  left: 0;
  padding: 5rem 3rem;
}
@media only screen and (max-width: 400px) {
  main .newsletter .card {
    width: 100%;
    box-shadow: 5px -5px #8F48FF;
  }
}
main .newsletter .card > a {
  padding: 2rem;
  display: block;
}
@media only screen and (max-width: 550px) {
  main .newsletter .card {
    padding: 5rem 2rem;
    box-shadow: none;
  }
}
main .newsletter .card .logo {
  text-align: center;
}
main .newsletter .card .logo h4 {
  font-size: 2rem;
  font-weight: 800;
}
@media only screen and (max-width: 370px) {
  main .newsletter .card .logo h4 {
    margin-left: 10px;
  }
}
main .newsletter .card .logo img {
  width: 90%;
  max-width: 250px;
  margin: 0 auto;
}
main .newsletter .card .subscribe {
  text-align: center;
}
main .newsletter .card .subscribe .newsletter-desc {
  max-width: 400px;
  margin: 2rem auto 1rem;
}
main .newsletter .card .subscribe .revue-embed {
  padding: 1.5rem 0 0;
}
main .newsletter .card .subscribe .revue-embed .revue-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .newsletter .card .subscribe .revue-embed .revue-form .row {
  width: 100%;
  justify-content: center;
  gap: 2rem 2.5rem;
}
main .newsletter .card .subscribe .revue-embed .revue-form .row .revue-form-group {
  width: 100%;
  max-width: 450px;
}
main .newsletter .card .subscribe .revue-embed .revue-form .row .revue-form-group .revue-form-field {
  width: 100%;
  max-width: 450px;
  border: 4px solid #8F48FF;
  background: #181B23;
  background: radial-gradient(circle farthest-corner at top left, #2B2B2B 0%, #181B23 80%);
  border-radius: 10px;
  padding: 1rem 1.8rem;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  appearance: none;
  position: relative;
  top: 4px;
  left: 0;
  box-shadow: 4px -4px #8F48FF;
  text-decoration: none;
  background: #2B2B2B;
}
main .newsletter .card .subscribe .revue-embed .revue-form .row .revue-form-group .revue-form-field:hover {
  cursor: pointer;
  top: 0;
  left: 4px;
  color: #b688ff;
  box-shadow: 0 0 #8F48FF;
}
main .newsletter .card .subscribe .revue-embed .revue-form .row .revue-form-group .revue-form-field:hover {
  top: 4px;
  left: 0;
  box-shadow: 4px -4px #8F48FF;
  color: #b688ff;
}
main .newsletter .card .subscribe .revue-embed .revue-form .row .revue-form-actions {
  position: relative;
  top: 0;
}
main .newsletter .card .subscribe .revue-embed .revue-form .row .revue-form-actions input {
  border: 4px solid #8F48FF;
  background: #181B23;
  background: radial-gradient(circle farthest-corner at top left, #2B2B2B 0%, #181B23 80%);
  border-radius: 10px;
  padding: 1rem 1.8rem;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  appearance: none;
  position: relative;
  top: 4px;
  left: 0;
  box-shadow: 4px -4px #8F48FF;
  text-decoration: none;
  background: #2B2B2B;
}
main .newsletter .card .subscribe .revue-embed .revue-form .row .revue-form-actions input:hover {
  cursor: pointer;
  top: 0;
  left: 4px;
  color: #b688ff;
  box-shadow: 0 0 #8F48FF;
}
@media only screen and (max-width: 550px) {
  main .newsletter .card .subscribe .revue-embed .revue-form .row .revue-form-actions {
    width: 100%;
  }
}
main .newsletter .card .subscribe .revue-embed .revue-form .revue-form-footer {
  font-size: 1.4rem;
  line-height: 2;
  text-align: center;
  color: #bbbbbb;
}
main .newsletter .card .subscribe .revue-embed .revue-form .revue-form-footer .underline {
  color: #bbbbbb;
}
main .newsletter .card .subscribe .revue-embed .revue-form .revue-form-footer .underline:after {
  border-color: #bbbbbb;
}
main .newsletter .card .subscribe .revue-embed .revue-form .revue-form-footer .underline:hover {
  color: #8F48FF;
}
main .newsletter .card .subscribe .revue-embed .revue-form .revue-form-footer .underline:hover:after {
  border-color: #8F48FF;
}
main .newsletter .card .subscribe .revue-embed .revue-form .revue-form-footer p {
  margin: 2rem 0 0;
}
main .newsletter .card .subscribe .revue-embed .revue-form .revue-form-footer .arrow-link {
  font-size: 1.6rem;
}
main .main-article {
  margin: 10rem auto 15rem;
  font-size: 1.9rem;
  max-width: 800px;
  line-height: 1.7;
}
main .main-article h1, main .main-article h2, main .main-article h3, main .main-article h4, main .main-article h5, main .main-article h6 {
  margin: 2rem 0 0;
}
main .main-article h1 {
  font-size: 3.5rem;
  line-height: 1.4;
  font-weight: 900;
  text-shadow: 3px -3px #8f48ff;
}
@media only screen and (max-width: 700px) {
  main .main-article h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 400px) {
  main .main-article h1 {
    font-size: 2.6rem;
  }
}
main .main-article h2 {
  font-size: 2.8rem;
}
@media only screen and (max-width: 700px) {
  main .main-article h2 {
    font-size: 2.4rem;
  }
}
main .main-article .fa-skull-crossbones {
  color: #8F48FF;
}
main .main-article .excerpt {
  display: none;
}
main .main-article .date {
  margin: 1rem 0 5rem;
}
main .main-article .date i {
  color: #8F48FF;
  font-size: 2rem;
  margin-right: 0.5rem;
  width: 18px;
  display: inline-block;
}
main .main-article .date time {
  font-weight: 700;
}
main .main-article img {
  aspect-ratio: auto;
  margin: 2rem auto 0.25rem;
}
main .main-article img + em {
  font-size: 1.5rem;
}
main .main-article p {
  margin: 2rem 0;
}
main .main-article a {
  position: relative;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
main .main-article a:after {
  width: 100%;
  border-width: 2px 0 0 0;
  top: 2rem;
  border-color: #fff;
  height: 7px;
  border-style: solid;
  position: absolute;
  content: "";
  border-radius: 40% 60% 0% 0%;
  left: 0px;
  transition: all 0.25s linear;
}
main .main-article a:hover {
  color: #8F48FF;
}
main .main-article a:hover:after {
  border-color: #8F48FF;
}
main .main-article ul, main .main-article ol {
  margin-left: 4rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 500px) {
  main .main-article ul, main .main-article ol {
    margin-left: 2rem;
  }
}
main .main-article ul li, main .main-article ol li {
  margin: 0 0 2rem 0;
}
main .main-article ul ::marker {
  color: #b688ff;
  font-size: 2.5rem;
}
main .main-article ol ::marker {
  color: #b688ff;
}
main .main-article ol p {
  margin-left: 1rem;
}
main .main-article code {
  background: rgba(157, 139, 202, 0.1254901961);
  padding: 2rem;
  display: block;
  border-radius: 10px;
  box-shadow: 8px -8px 0 #8F48FF;
  font-size: 1.5rem;
  white-space: pre-wrap;
}
main .main-article code.language-html .tag + br,
main .main-article code.language-html .attr-value + br,
main .main-article code.language-html .special-attr + br {
  display: none;
}
main .main-article code.language-html > .token.tag + br {
  display: block;
}
main .main-article code.language-html .token.comment {
  color: #848bbd;
}
main .main-article code.language-html .token.tag {
  color: #72f1b8;
}
main .main-article code.language-html .token.tag > .punctuation {
  color: #36f9f6;
}
main .main-article code.language-html .token.attr-name {
  color: #fede5d;
}
main .main-article code.language-html .token.attr-value,
main .main-article code.language-html .token.property {
  color: #ff8b39;
}
main .main-article code.language-html .token.attr-equals {
  color: #b6b1b1;
}
main .main-article code.language-css {
  color: #ff8b39;
}
main .main-article code.language-css .token.atrule {
  color: #f97e72;
}
main .main-article code.language-css .token.atrule .rule, main .main-article code.language-css .token.atrule .keyword, main .main-article code.language-css .token.atrule .punctuation {
  color: #fede5d;
}
main .main-article code.language-css .token.atrule .token.function {
  color: #f97e72;
}
main .main-article code.language-css .token.atrule .token.property {
  color: #ff7edb;
}
main .main-article code.language-css .token.property {
  color: #72f1b8;
}
main .main-article code.language-css .token.selector {
  color: #fede5d;
}
main .main-article code.language-css .token.punctuation {
  color: #fede5d;
}
main .main-article code.language-css .token.important {
  color: #fede5d;
}
main .main-article .divider {
  width: 30px;
  margin: 10rem auto;
  position: relative;
}
main .main-article .divider:before {
  content: "";
  position: absolute;
  left: -5rem;
  top: 50%;
  border-radius: 10px;
  width: 5px;
  height: 5px;
  background: #8F48FF;
}
main .main-article .divider:after {
  content: "";
  position: absolute;
  right: -5rem;
  top: 50%;
  border-radius: 10px;
  width: 5px;
  height: 5px;
  background: #8F48FF;
}
main .main-article .icon-sign-off {
  width: 25px;
}
main .main-article blockquote {
  background: rgba(157, 139, 202, 0.1254901961);
  border-left: 10px solid rgba(143, 72, 255, 0.4);
  margin: 2rem 0;
  padding: 0 2rem;
  display: inline-block;
}
main .main-article blockquote p {
  margin: 1.5rem 0;
}
main .main-article .button {
  border: 4px solid #8F48FF;
  background: #181B23;
  background: radial-gradient(circle farthest-corner at top left, #2B2B2B 0%, #181B23 80%);
  border-radius: 10px;
  padding: 1rem 1.8rem;
  outline: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  appearance: none;
  position: relative;
  top: 4px;
  left: 0;
  box-shadow: 4px -4px #8F48FF;
  text-decoration: none;
  margin: 0 auto;
  display: table;
  padding: 1.5rem 4rem;
}
main .main-article .button:hover {
  cursor: pointer;
  top: 0;
  left: 4px;
  color: #b688ff;
  box-shadow: 0 0 #8F48FF;
}
main .main-article .button:after {
  display: none;
}
main .not-found {
  max-width: 900px;
  margin: 0 auto;
}
main .not-found .intro .icon {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 2rem;
}
main .not-found .intro h1 {
  font-size: 5rem;
  margin: 0 0 1rem;
}
@media only screen and (max-width: 700px) {
  main .not-found .intro h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 450px) {
  main .not-found .intro h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 700px) {
  main .not-found .intro h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 450px) {
  main .not-found .intro h2 {
    font-size: 1.8rem;
  }
}
main .not-found .intro p {
  font-size: 2rem;
}
@media only screen and (max-width: 700px) {
  main .not-found .intro p {
    font-size: 1.8rem;
  }
}

footer {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
footer .socials .logo {
  width: 50px;
  margin: 0 auto;
}
footer .socials .logo img {
  width: 100%;
  width: 50px;
  height: 60px;
  margin: 0 auto;
}
footer .socials .icons {
  margin: 2rem auto;
  display: flex;
  gap: 2rem 4rem;
  flex-wrap: wrap;
  justify-content: center;
}
footer .socials .icons a {
  color: #fff;
}
footer .socials .icons a i {
  font-size: 3rem;
}
footer .socials .icons a:hover i {
  color: #8F48FF;
}
footer .sign-off {
  font-size: 1.5rem;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=styles.css.map */
