---
layout: base-layout.njk
---
<div class="blog">
    <section class="intro">
        <h1 class="stagger"><span class="highlight">Code...</span></h1>
        
        <p class="stagger">Here is a list of direct links to experiments I've shared in <a href="/blog" class="underline">blog</a> format or even random experiments that aren't linked to anything at all.</p>
        <br>
        <p class="stagger">Other places I post code:</p>
        
        <div class="icons">
            <a class="stagger" href="https://codepen.io/NivenRanchhod" target="_blank"><i class="fa-brands fa-codepen"></i></a>
        </div>
    </section>

    <section class="written">
        <ul class="blog-list">
            {% for post in collections.code | reverse %}
            <li>
                <article class="scroll-transition">
                    <div class="date">
                        <time class="stagger" datetime="{{ post.date | postDate }}">{{ post.date | postDate }}</time>
                    </div>
                    
                    <div class="details">
                        <div class="title-container">
                            <h3 class="post-title stagger"><a href="{{ post.url | url }}" target="_blank">{{ post.data.title }}</a></h3>
                        </div>
                        
                        <div class="excerpt-container stagger">{{ post.data.description }}</div>

                        <span class="arrow-link stagger" aria-labelledby="post-title" href="{{ post.url | url }}" target="_blank">Read post <i class="fa-solid fa-arrow-right-long"></i></span>
                    </div>
                </article>
            </li>
            {% endfor %}
        </ul>
    </section>

    {% include 'newsletter.njk' %}
</div>