---
layout: base-layout.njk

title: "Bare Bones"
desc: "Development resource with tutorials, design reviews, template teardowns, coding experiments and thoughts on HTML & CSS email development."
cover: "https://barebones/images/og/og-cover.jpg"
---
<section class="intro">
  <h1 class="stagger">Code tutorials, <br>
  design teardowns <br>
  & thoughts... on <span class="highlight">email&nbsp;development</span>.</h1>

  <div class="icons">
    <a class="stagger" href="https://twitter.com/NivenRanchhod" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a class="stagger" href="https://codepen.io/NivenRanchhod" target="_blank"><i class="fa-brands fa-codepen"></i></a>
    <a class="stagger" href="https://medium.com/@nivenranchhod" target="_blank"><i class="fa-brands fa-medium"></i></a>
    <a class="stagger" href="https://dev.to/nivenranchhod" target="_blank"><i class="fa-brands fa-dev"></i></a>
    <a class="stagger" href="https://barebones.hashnode.dev/" target="_blank"><i class="fa-brands fa-hashnode"></i></a>
  </div>

  <div class="subscribe">
    <p class="stagger">Join the <a class="underline" href="https://www.getrevue.co/profile/Barebonesclub" target="_blank">Bare Bones Club</a> to stay up to date with my code, ramblings and rare moments of intelligence.</p>

    <div id="revue-embed" class="revue-embed">
      <form action="https://www.getrevue.co/profile/Barebonesclub/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
      <div class="row">
        <div class="revue-form-group">
          <label class="sr-only" for="member_email">Email address</label>
          <input class="revue-form-field stagger" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
        </div>
        <div class="revue-form-actions">
          <input class="stagger" type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
        </div>
      </div>
      <div class="revue-form-footer stagger">By subscribing, you agree with Revue's <a class="underline" target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a> and <a class="underline" target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.</div>
      </form>
      </div>

    <a class="arrow-link stagger" href="https://www.getrevue.co/profile/Barebonesclub#archive" target="_blank">See previous editions <i class="fa-solid fa-arrow-right-long"></i></a>
  </div>
</section>

<section class="written" id="written">
  <h2 class="scroll-transition"><span class="highlight">Written... </span></h2>

  <div class="row">
    <p class="scroll-transition">A few of my latest write-ups from across the internet.</p>

    <a class="arrow-link scroll-transition" href="{{ '/blog' | url }}">View all posts <i class="fa-solid fa-arrow-right-long"></i></a>
  </div>

  <div class="cards">
    {% for post in collections.post | reverse %}
      {% if loop.index0 < 5 %}
        <article class="card scroll-transition">
          <a href="{{ post.url | url }}">
            <div class="row">
              {%- if source != '' -%}
                <i class="fa-brands fa-{{ post.data.source }}"></i>
              {%- endif -%}

              <time datetime="{{ post.date | postDate }}">{{ post.date | postDate }}</time>
            </div>

            <div class="title-container">
              <h3 id="post-title">{{ post.data.title }}</h3>
            </div>

            <div class="excerpt-container">{{ post.data.description }}</div>

            <span class="arrow-link" aria-labelledby="post-title">Read post <i class="fa-solid fa-arrow-right-long"></i></span>
          </a>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</section>

<section class="coded" id="coded">
  <h2 class="scroll-transition"><span class="highlight">Coded... </span></h2>

  <div class="row">
    <p class="scroll-transition">My latest experiments, tutorials and other attempts to look smart.</p>

    <a class="arrow-link scroll-transition" href="{{ '/code' | url }}">View all code examples <i class="fa-solid fa-arrow-right-long"></i></a>
  </div>

  <div class="cards">
    {% for post in collections.code | reverse %}
      {% if loop.index0 < 5 %}
        <article class="card scroll-transition">
          <a href="
          {% if post.data.permalink == false %}
            {{ post.data.eleventyNavigation.url }}
          {% else %}
            {{ post.url | url }}
          {% endif %}
          " target="_blank">
            <div class="row">
              {%- if post.data.source != 'parcel' -%}
                <i class="fa-brands fa-{{ post.data.source }}"></i>
              {%- elif post.data.source == 'parcel' -%}
                <img src="/images/parcel.svg" alt="" />
              {%- endif -%}

              <time datetime="{{ post.date | postDate }}">{{ post.date | postDate }}</time>
            </div>

            <div class="title-container">
              <h3 id="post-title">{{ post.data.title }}</h3>
            </div>

            <div class="excerpt-container">{{ post.data.description }}</div>

            <span class="arrow-link" aria-labelledby="post-title">View example <i class="fa-solid fa-arrow-right-long"></i></span>
          </a>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</section>

<section class="about" id="about">
  <h2 class="scroll-transition"><span class="highlight">About... </span></h2>

  <p class="scroll-transition"><img class="wave" src="images/wave.png" alt="Waving hello to you" /> I'm <a class="underline" href="https://twitter.com/NivenRanchhod" target="_blank">Niven</a>, an email specialist with over 10 years of experience in HTML & CSS development.<br>
  With the urge to take on 1-1 mentoring but a lack of time, Bare Bones was created to indirectly mentor & upskill developers of all levels. <br>
  I'll be the first to raise my hand and admit I don't know everything, so as well as flexing my current skillset & knowledge, this will be as much of a learning opportunity for me as it will be for you.</p>

  <p class="scroll-transition">The aim is to strip layout problems down to the basic fundamental workings and provide simple examples of every day techniques. This way, we help each other develop problem solving skills by being exposed to more ways of achieving the same result.</p>

  <p class="scroll-transition">I'll also be sharing some of my experiments with interactive email elements. Some examples will be practical and some outlandish, but it's all for fun to show what we're capable of with email.</p>

  <p class="scroll-transition">I'll be taking inspiration for builds from designs & ideas I see on Dribbble, Codepen, HTML & CSS specific newsletters and basically anywhere else I find inspiration.</p>

  <p class="scroll-transition">Make sure to subscribe to my newsletter - <a class="underline" href="https://www.getrevue.co/profile/Barebonesclub" target="_blank">Bare Bones Club</a>, to stay up to date with my learnings, experiments & random thoughts.</p>

  <p class="scroll-transition">Happy coding,<br>
  Niven</p>

  <div class="face scroll-transition"></div>

  <div class="icons">
    <a class="scroll-transition" href="https://twitter.com/NivenRanchhod" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a class="scroll-transition" href="https://codepen.io/NivenRanchhod" target="_blank"><i class="fa-brands fa-codepen"></i></a>
    <a class="scroll-transition" href="https://medium.com/@nivenranchhod" target="_blank"><i class="fa-brands fa-medium"></i></a>
    <a class="scroll-transition" href="https://dev.to/nivenranchhod" target="_blank"><i class="fa-brands fa-dev"></i></a>
    <a class="scroll-transition" href="https://barebones.hashnode.dev/" target="_blank"><i class="fa-brands fa-hashnode"></i></a>
    <a class="scroll-transition" href="https://www.linkedin.com/in/nivenranchhod/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    <a class="scroll-transition" href="mailto:hello@bare-bones.dev" target="_blank"><i class="fa-solid fa-envelope"></i></a>
  </div>
</section>

<section class="contribute" id="contribute">
  <h3 class="scroll-transition">Interested in <span class="highlight">working together</span> or <span class="highlight">contributing?</span></h3>

  <p class="list-heading scroll-transition">Some reasons you could get in touch:</p>
  <ul class="list">
    <li class="scroll-transition"><i class="fa-solid fa-circle-check"></i> An interesting project you'd like to work on together.</li>
    <li class="scroll-transition"><i class="fa-solid fa-circle-check"></i> Sponsoring or supporting the <a class="underline" href="https://www.getrevue.co/profile/Barebonesclub" target="_blank">Bare Bones Club</a> newsletter by way of access to your tool or service to help build, test & share my tutorials.</li>
    <li class="scroll-transition"><i class="fa-solid fa-circle-check"></i> You want to share an idea for a tutorial or interactive email / element you would like me to build or collaborate with me on.</li>
  </ul>

  <p class="list-heading scroll-transition">Please, don't use this for:</p>
  <ul class="list red">
    <li class="scroll-transition"><i class="fa-solid fa-circle-xmark red"></i> 1-1 help / support with your own projects. I cannot dedicate time for this kind of work at the moment, so I’ll simply ignore these requests. <br>
    I'm really sorry!</li>
  </ul>

  <div class="contact">
    <a class="button scroll-transition" href="mailto:hello@bare-bones.dev">Get in touch</a>
  </div>

  <div class="icons">
    <a class="scroll-transition" href="https://twitter.com/NivenRanchhod" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a class="scroll-transition" href="https://www.linkedin.com/in/nivenranchhod/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    <a class="scroll-transition" href="mailto:hello@bare-bones.dev" target="_blank"><i class="fa-solid fa-envelope"></i></a>
  </div>
</section>

{% include 'newsletter.njk' %}