<section class="newsletter scroll-transition" id="newsletter">
    <div class="card">
        <div class="logo">
            <h4 class="scroll-transition">Join</h4>
            <img class="scroll-transition" src="/images/bare-bones-club.svg" alt="Bare Bones Club" loading="lazy" decoding="async" />
        </div>

        <div class="subscribe">
            <div class="newsletter-desc">
            <p class="scroll-transition">Stay up to date with my code, ramblings and rare moments of intelligence.</p>
            </div>

            <div id="revue-embed" class="revue-embed">
                <iframe class="scroll-transition" src="https://embeds.beehiiv.com/a91fa3ea-209e-4600-ac9f-92ae676d0f88?slim=true" data-test-id="beehiiv-embed" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent; width:100%; max-width:600px; height:60px;"></iframe>
            </div>
                
            <div class="revue-form-footer">                
                <p class="scroll-transition"><a class="arrow-link" href="https://bare-bones-club.beehiiv.com/?_gl=1*3908f5*_ga*MTk3NDI5NzQyMy4xNjY2NzM0NjA2*_ga_E6Y4WLQ2EC*MTY3NDA4MTA4OC4xNC4xLjE2NzQwODEyNTIuNjAuMC4w" target="_blank">See previous editions <i class="fa-solid fa-arrow-right-long"></i></a></p>
            </div>
        </div>
    </div>
</section>