<section class="newsletter scroll-transition" id="newsletter">
    <div class="card">
    <div class="logo">
        <h4 class="scroll-transition">Join</h4>
        <img class="scroll-transition" src="/images/bare-bones-club.svg" alt="Bare Bones Club" loading="lazy" decoding="async" />
    </div>

    <div class="subscribe">
        <div class="newsletter-desc">
        <p class="scroll-transition">Stay up to date with my code, ramblings and rare moments of intelligence.</p>
        </div>

        <div id="revue-embed" class="revue-embed">
        <form action="https://www.getrevue.co/profile/Barebonesclub/add_subscriber" method="post" id="revue-form" class="revue-form" name="revue-form"  target="_blank">
            <div class="row">
            <div class="revue-form-group">
                <label class="sr-only" for="member_email">Email address</label>
                <input class="revue-form-field scroll-transition" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
            </div>
            <div class="revue-form-actions">
                <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit" class="scroll-transition">
            </div>
            </div>
            
            <div class="revue-form-footer">
            <p class="scroll-transition">By subscribing, you agree with Revue's <a class="underline no-wrap" target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a> and <a class="underline no-wrap" target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.</p>
            
            <p class="scroll-transition"><a class="arrow-link" href="https://www.getrevue.co/profile/Barebonesclub#archive" target="_blank">See previous editions <i class="fa-solid fa-arrow-right-long"></i></a></p>
            </div>
        </div>
        </form>

    </div>
    </div>
</section>